.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
}

.containertext {
    width: 100%;
}

.section1 {
    background-image: url(assets/main-bg.jpg);
}

.section2 {
    background-image: url(assets/the-games-bg2.jpg);
}

.section3 {
    background-image: url(assets/features2.jpg);
}

.section4 {
    background-image: url(assets/requirements2.png);
}

.section5 {
    background-image: url(assets/bgimage5.png);
}

.section6 {
    background-color: rgba(8, 10, 11, 1);
}

.bgfooter {
    background: rgba(8, 10, 11, 1);
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.5)
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 10%;
    margin-right: 120px;
    text-transform: uppercase;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 10%;
    font-weight: 700;

}

/* Section 1 */
.section1 h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 72px;
    color: white;
    margin-top: 10%;
    text-align: center;
    letter-spacing: 3px;
}

.section1 h3 {
    font-family: Arial;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 57px;
    color: white;
}

.section1 .btn {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 58px;
    height: 60px;
    width: 260px;
    font-weight: 700;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}

.section1 h4 {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    margin-top: 285px;
}

.scrollimg {
    margin-top: -25px;
}

/* Akhir Section 1 */

/* Section 2 */
.section2 p {
    font-family: Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
    color: white;
    margin-top: 35%;
}

.section2 h1 {
    margin-top: -10px;
    font-family: Arial;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.carousel {
    margin-top: 18%;
    width: 90%;
    margin-left: 35px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 100%;
}

.carousel-control-prev {
    margin-left: -90px;
}

.carousel-control-next {
    margin-right: -90px;
}

.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("assets/scroll\ down.svg");
    transform: rotate(90deg);
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("assets/scroll\ down.svg");
    transform: rotate(-90deg);
}

/* Akhir Section 2 */

/* Section 3 */
.section3 .containertext {
    margin-top: 170px;
}

.section3 h1 {
    margin-top: -10px;
    font-family: Arial;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.section3 h3 {
    font-family: Arial;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
    color: white;
}

.list {
    margin-left: -15px;
}

ul {
    list-style-type: circle;
    color: white;
    font-size: 24px;
}

ul .active {
    margin-top: 70px;
    list-style-type: disc;
}

.margin li {
    margin-bottom: 40px;
}

li h2 {
    color: rgba(255, 181, 72, 1);
    text-transform: uppercase;
}

li p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: justify;
}

.section3 .col-7 {
    padding-left: 180px;
}

/* Akhir Section 3 */

/* Section 4 */
.table-bordered {
    border-color: #979797;
}

.section4 .container {
    padding-top: 120px;
}

.section4 .container p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.section4 h1,
h3 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
}

.table h3 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
    color: rgba(255, 181, 72, 1);
}

.section4 .table p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

/* Akhir Section 4 */

/* Section 5 */
.section5 h1 {
    color: white;
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    font-family: Arial;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section5 p {
    font-family: 'Open Sans';
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 40px;
}

.section5 .button {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    padding: 15px 35px 15px 35px;
    width: 40%;
    border-radius: 4px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}

.card .img1 {
    width: 60px;
    height: 60px;
    box-shadow: 8px 2px rgba(255, 181, 72, 1);
}

.section5 .logo img {
    width: 18px;
    height: 18px;
}

.section5 h3 {
    color: rgba(255, 181, 72, 1);
    font-size: 24px;
    line-height: 20px;

}

.section5 span {
    color: white;
    font-size: 18px;
}

.card {
    width: 75%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.section5 h5,
h6 {
    color: white;
    padding-top: 8px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 18px;
}

.section5 h6 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5)
}

.section5 .col-lg {
    margin-top: 5%;
}

/* Akhir Section 5 */

/* Section 6 */
.section6 h3,
h1 {
    font-family: Arial;
    font-weight: 400;
    color: white;
}

.section6 h3 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 2px;
}

.section6 h1 {
    font-size: 65px;
    line-height: 74px;
    letter-spacing: 3px;
}

.section6 p {
    font-family: 'Open Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    margin-bottom: 5%;
}

.form-control {
    width: 68%;
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 181, 72, 1);
}

.btn {
    width: 30%;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 15px 30px 15px 30px;
    background-color: rgba(255, 181, 72, 1);
}

/* Akhir Section 6 */

/* Footer */

.footer a {
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.footer .col-lg-auto {
    justify-items: right;
}

.policy a {
    margin: 0 15px;
}

/* MOBILE VERSION */
@media (max-width: 576px) {

    .background {
        background-position: center;
    }

    /* Navbar */
    .navbar {
        background-color: rgba(0, 0, 0, 0.5)
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        font-family: 'Open Sans', sans-serif;
        color: white !important;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 10%;
        font-weight: 700;
    }

    /* Akhir Navbar */

    /* Section 1 */
    .section1 h1 {
        margin-top: 30%;
        font-size: 38px;
    }

    .section1 h3 {
        font-size: 20px;
    }

    /* Akhir Section 1 */

    /* Section 2 */
    .section2 p {
        font-size: 15px;
    }

    .section2 h1 {
        font-size: 36px;
    }

    .carousel {
        margin-left: 0px;
        width: 100%;
    }

    .carousel-control-prev {
        margin-left: 0px;
    }

    .carousel-control-next {
        margin-right: 0px;
    }

    /* Akhir Section2 */

    /* Section 3 */
    .section3 .containertext {
        margin-top: 120px;
    }

    .section3 .col-7 {
        padding-left: 0px;
    }

    .list {
        margin-left: -15px;
    }

    .section3 h3 {
        font-size: 20px;
    }

    ul {
        list-style-type: circle;
        color: white;
        font-size: 16px;
    }

    ul .active {
        margin-top: 30px;
        list-style-type: disc;
    }

    .margin li {
        margin-bottom: 10px;
    }

    li h2 {
        font-size: 16px;
    }

    li p {
        font-size: 12px;
    }

    .section3 h1 {
        font-size: 28px;
    }

    .section3 h3 {
        font-size: 16px;
    }

    /* Akhir Section 3 */

    /* Section 4 */
    .section4 .container {
        padding-top: 40px;
    }

    .section4 .container p {
        font-size: 10px;
    }

    .section4 h1,
    h3 {
        margin-top: 20px;
        font-size: 30px;
        line-height: 40px;
    }

    .table h3 {
        font-size: 16px;
        line-height: 12px;
    }

    .section4 .table p {
        font-size: 10px;
        line-height: 12px;
    }

    /* Akhir Section 4 */

    /* Section 5 */
    .section5 h1 {
        margin-top: 5%;
        font-size: 32px;
        margin-bottom: 0px;
        line-height: 30px;
    }

    .section5 p {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .section5 .button {
        font-size: 12px;
        padding: 5px 15px 5px 15px;
        width: 100%;
    }

    .card .img1 {
        width: 30px;
        height: 30px;
        box-shadow: 4px 2px rgba(255, 181, 72, 1);
    }

    .section5 .logo img {
        width: 18px;
        height: 18px;
    }

    .section5 h3 {
        color: rgba(255, 181, 72, 1);
        font-size: 14px;
        line-height: 12px;

    }

    .section5 span {
        color: white;
        font-size: 9px;
    }

    .card {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding-top: -10px;
    }

    .section5 h5,
    h6 {
        padding-top: 0px;
        font-size: 13px;
    }

    .section5 h6 {
        font-size: 9px;
    }

    .section5 .col-lg {
        margin-top: 5%;
    }


    /* Akhir Section 5 */

    /* Section 6 */
    .section6 img {
        display: none;
    }

    .section6 .col-lg-7 {
        margin-top: -50%;
    }

    .section6 h3 {
        font-size: 16px;
    }

    .section6 h1 {
        font-size: 30px;
        line-height: 35px;
    }

    .section6 p {
        font-size: 14px;
        margin-bottom: 15%;
    }

    .form-control {
        width: 68%;
        background-color: rgba(255, 255, 255, 0.08);
        color: rgba(255, 181, 72, 1);
        height: 100%;
    }

    .btn {
        width: 30%;
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 18px;
        padding: 0px 5px 0px 5px;
    }

    /* Akhir Section 6 */

    .footer .list {
        padding: 10px 0;
    }

    .footerbawah {
        text-align: center;
    }

    .footer .policy a {
        margin: 0 15px;
        text-align: center;
        font-size: 8px;
    }
}